apiVersion: v1
kind: PersistentVolume
metadata:
  name: lms-efs-pv
spec:
  capacity:
    storage: 20Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: {{ .Values.efsId }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lms-efs-pvc
  namespace: openedx-lms
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 20Gi